.pokemonContainer {
  padding: 3rem 4rem;
  width: 26.5rem;
  height: 100vh;

  background: var(--light-blue-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  header {
    display: block;
    text-align: center;

    img {
      display: block;
      width: 20rem;
      height: 5rem;
    }

    strong {
      align-items: baseline;
      font-family: Inter, sans-serif;
      font-weight: 600;
    }
  }

  footer {
    align-self: stretch;

    &.empty .progress {
      opacity: 0.5;
    }
  }
}

.currentPokemon {
  text-align: center;

  img {
    width: 7rem;
    height: 7rem;
    border-radius: 1.5rem;
  }

  strong {
    display: block;
    margin: 2rem;
    font: 600 3rem Lexend, sans-serif;
    line-height: 1.75rem;
  }

  span {
    color: var(--gray-800);
    font: 600 2.25rem Lexend, sans-serif;
  }

  .animationPokebola {
    background: url(https://assets.pokemon.com/static2/_ui/img/chrome/loaders/pokeball_gray.png) center center no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 48%;
    top: 20%;
    -webkit-animation: loader .5s infinite;
    -ms-animation: loader .5s infinite;
    -moz-animation: loader .5s infinite;
    -o-animation: loader .5s infinite;
    animation: loader .5s infinite;
}
}

.emptyPokemon {
  width: 100%;
  height: 20rem;
  border: 1.5px dashed var(--light-blue-300);
  border-radius: 1.5rem;
  background: linear-gradient(
    143.8deg,
    rgba(107, 177, 174, 0.8) 0%,
    rgba(145, 100, 250, 0) 100%
  );

  padding: 4rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .imagemEmpty {
    width: 100%;
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 4px;
      background: var(--light-blue-300);
      border-radius: 2px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;

    transition: filter 0.2s;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7);
    }

    //NÃO É GABIARRA É MAGICA.
    //Mudar a cor do svg
    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActiv:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3)
        hue-rotate(100deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--light-blue-400);

      &:hover:not(:disabled) {
        filter: brightness(0.9);
      }
    }
  }
}
